<footer>
    <div class="container">
        <p class="text-center">
            <a href="http://www.hbu.edu.cn/">河北大学</a>
            <a href="http://graduate.hbu.cn/">研究生院</a>
        </p>
        <p class="text-center">© 2017-2018 头条八卦</p>
    </div>

</footer>
</body></html>